@import "tailwindcss";

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  display: flex;
  width: max-content;
  animation: marquee 38s linear infinite;
  will-change: transform;
}

.animate-marquee:hover {
  animation-play-state: paused;
}

.animate-marquee-slow {
  display: flex;
  width: max-content;
  animation: marquee 55s linear infinite;
  will-change: transform;
}

.animate-marquee-slow:hover {
  animation-play-state: paused;
}

.animate-marquee-fast {
  display: flex;
  width: max-content;
  animation: marquee 24s linear infinite;
  will-change: transform;
}

.animate-marquee-fast:hover {
  animation-play-state: paused;
}
